@import 'tailwindcss';
@import '../components/ui/styles/ui.css';

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

html,
body {
  width: 100%;
  height: 100%;
}

.lucide {
  width: 1em;
  height: 1em;
}
