@import 'tailwindcss';
@import '@fontsource-variable/nunito-sans';
@import '../components/ui/styles/ui.css';

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    Nunito Sans Variable,
    system-ui,
    sans-serif;
}
