@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/nprogress/styles.css';
@import '@fontsource-variable/nunito-sans';

html,
body {
  font-family:
    Nunito Sans Variable,
    system-ui,
    sans-serif;
  font-size: 16px;
}
