@import 'tailwindcss';
@import '@mantine/core/styles.css';
@import '@fontsource-variable/nunito-sans';

body {
  @apply m-0;
  font-family:
    Nunito Sans Variable,
    system-ui,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
