name: Build

on:
  workflow_call:
    inputs:
      push:
        type: boolean
        default: false

  workflow_dispatch:
    inputs:
      push:
        description: Whether to push the image to the registry
        type: boolean
        default: false

jobs:
  build:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Docker setup
        uses: docker/setup-buildx-action@v3
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Retrieve docker metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Build and publish docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ inputs.push }}
          platforms: amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          sbom: false
          provenance: false
          build-args: |
            SOURCE_COMMIT=${{ github.sha }}
            VITE_SENTRY_DSN=${{ vars.VITE_SENTRY_DSN }}
      - name: Delete old docker images
        uses: actions/delete-package-versions@v4
        with:
          package-name: gamehoop
          package-type: container
          min-versions-to-keep: 10
          ignore-versions: '^latest$'
