name: E2E Tests
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: gamehoop
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Install browsers
        run: pnpx playwright install --with-deps chromium
      - name: Migrate Database
        run: pnpm db:migrate
      - name: Run tests
        run: pnpm test:e2e
        env:
          BETTER_AUTH_SECRET: secret
          SMTP_SERVER: localhost
          SMTP_PORT: 25
          SMTP_USERNAME: smptuser
          SMTP_PASSWORD: secret
          SMTP_SENDER: hello@gamehoop.io
